---
title: Политика конфиденциальности
description: Наша политика конфиденциальности объясняет, как мы собираем, используем и защищаем вашу личную информацию.
lang: ru
layout: layouts/base.njk
---

{% include "partials/privacy-policy.njk" %}